# Explore here

In [2]:
# Your code here
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/workspaces/Final_Project_DataScient/data/processed/keep_vars')
df

,Unnamed: 0,HHADULT,SEXVAR,PERSDOC3,MEDCOST1,SLEPTIM1,CVDINFR4,CVDSTRK3,ADDEPEV3,DIABETE4,...,ECIGNOW2,ALCDAY4,AVEDRNK3,DRNK3GE5,MAXDRNKS,HIVRISK5,COVIDPOS,HADHYST2,COLNCNCR,FLUSHOT7
0,0,NaN,2.0,1.0,2.0,8.0,2.0,2.0,2.0,1.0,...,4.0,888.0,NaN,NaN,NaN,2.0,2.0,2.0,2.0,1.0
1,1,NaN,2.0,2.0,2.0,6.0,2.0,2.0,2.0,3.0,...,1.0,888.0,NaN,NaN,NaN,2.0,2.0,1.0,2.0,2.0
2,2,NaN,2.0,1.0,2.0,5.0,2.0,2.0,2.0,3.0,...,1.0,888.0,NaN,NaN,NaN,2.0,1.0,1.0,2.0,2.0
3,3,NaN,2.0,1.0,2.0,7.0,2.0,2.0,2.0,3.0,...,1.0,888.0,NaN,NaN,NaN,2.0,2.0,2.0,2.0,1.0
4,4,NaN,2.0,2.0,2.0,9.0,2.0,2.0,2.0,3.0,...,1.0,203.0,2.0,88.0,2.0,2.0,2.0,1.0,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,445127,5.0,2.0,3.0,2.0,6.0,2.0,2.0,1.0,3.0,...,1.0,777.0,NaN,NaN,NaN,2.0,1.0,2.0,NaN,2.0
445128,445128,2.0,2.0,2.0,2.0,7.0,2.0,2.0,2.0,3.0,...,1.0,888.0,NaN,NaN,NaN,2.0,2.0,2.0,2.0,1.0
445129,445129,1.0,2.0,3.0,1.0,5.0,2.0,2.0,2.0,3.0,...,3.0,777.0,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0
445130,445130,2.0,1.0,2.0,2.0,5.0,1.0,2.0,2.0,3.0,...,1.0,888.0,NaN,NaN,NaN,2.0,1.0,NaN,2.0,1.0
445131,445131,1.0,1.0,3.0,1.0,5.0,2.0,2.0,2.0,3.0,...,4.0,215.0,77.0,1.0,1.0,2.0,2.0,NaN,NaN,2.0

In [4]:
df.shape

(445132, 46)